/* Variables */

:root {
    --custom-gap: 3px;

    --block-width: 360px;

    --break-xs: var(--block-width);
    --break-sm: 768px;
    --break-md: 900px;
    --break-lg: 1200px;
    
    --color-red: rgb(255, 0, 0);
}



